body {
    margin: 0;
    padding: 0;
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background-image: url("../images/full-bloom.png");
}

.logo {
    background-color: #4aaaa5;
    width: 300px;
    height: 90px;
    color: white;
    text-align: center;
    line-height: 45px;
    margin-left: 50px;
    position: absolute;
    top: 10px;
    font-family: 'Georgia', Times, Times New Roman, serif;

}

header {
    width: 100%;
    height: 100px;
    background-color: white;
    border-bottom: 1px solid #cccccc;
}

.container {
    width: 960px;
    background-color: #fff;
    height: 100px;
    margin: 0 auto;
}

nav {
    float: right;
    margin: 10px 50px 0px 0px;
    list-style-type: none;
    overflow: hidden;
    right: 20px;
}

li {
    display: inline;
    border-right: 1px solid #dddddd;
}

li a {
    display: inline-block;
    color: grey;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #EE7674;
    color: white;
}

.active {
    background-color: #4aaaa5;
    color: white;
}

#bio-photo {
    float: left;
    margin: 10px 25px 5px 5px;
    height: 300px;
    width: 300px;
}

.main-content {
    position: relative;
    top: 10px; 
    width: 775px;
    margin: 0 auto;
    line-height: 30px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    padding: 10px 40px 5px 40px;
}

.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #666666;
    color: white;
    text-align: center;
    height: 40px;
    border-top: 6px solid #4aaaa5;
    margin-top: 100px;
    font-size: 15px;
    padding-top: 20px;
    line-height: 40px;
}

h2 {
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left: 5px;
    position: relative;
    bottom: 0px;
}

input[type=submit] {
    background-color: #4aaaa5;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

#submit:hover
{
  background-color: #EE7674;
}

textarea {
    font-family: Arial, Helvetica, sans-serif;
    color:  #777777;
}

input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical;
}

#message {
    height: 250px;
}

.folio-img {
    position: relative;
    width: 350px;
    padding: 10px;
    float: left;
}


.folio-label {
    background-color: #4aaaa5;
    width: 250px;
    height: 40px;
    text-align: center;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: absolute;
    top: 150px;
    line-height: 40px;
    font-weight: bold;
}

.folio-body {
    height: 675px;
}

.folio-label a {
    color: white;
    text-decoration: none;
}

.folio-label:hover {
    background-color: #EE7674;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}