body {
    background-color: #5C4B51;
    background-image: url(../images/hypnotize.jpg)
}

.main-body {
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Nanum Gothic', sans-serif;
}

.title {
    font-family: 'Roboto', sans-serif;
    margin-top: 20px;
}

.sidebar-item {
    padding: 10px;
    background-color: #FDFDF9;
    margin-bottom: 5px;
}

.sidebar-item a {
    color: #5C4B51;
    font-weight: bold;
}

.sidebar-item a:hover {
    color: #F06060;
    font-weight: bolder;
}

.sidebar-icon {
    margin-top: 10px;
    font-size: 20px;
    padding-right: 20px;
    color: #5C4B51;
}

.body-icon {
    margin-top: 20px;
    color: #5C4B51;
}

.body-content {
    background-color: #FDFDF9;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#links {
    align-content: center;
    text-align: center;
}

#links a {
    color: #F3B562;
}

#links a:hover {
    color: #F06060;
}

.interest-icon {
    font-size: 30px;
    color: #8CBEB2;
}

.interest-item {
    text-align: center;
}

.skill-item {
    margin-top: 10px;
}

.navigation {
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

.name {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
}

.side-link {
    background-color: #F06060;
}

.side-link a {
    color: #F2EBBF;
}

.side-link a:hover {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

#development-projects {
    margin-top: 5px;
}

.progress-bar {
    background-color: #F06060;
}

.body-item {
    margin-top: 10px;
}

.date {
    color: #F3B562;
    font-weight: bold;
}

.location {
    font-style: italic;
    color: #5C4B51;
}

.sidebar-info {
    margin-top: 5px;
}

#interest-icons {
    margin-top: 20px;
}

#web-dev-div a {
    color: #F06060;
    font-weight: bold;
}

#web-dev-div a:hover {
    color: #F3B562;
    font-weight: bold;
    text-decoration: none;
}

/* MODAL GRAPHIC DESIGN PORFOLIO STYLING */

#gd-portfolio-div a {
    color: #F06060;
    font-weight: bold;
}

#gd-portfolio-div a:hover {
    color: #F3B562;
    font-weight: bold;
    text-decoration: none;
}

.card-body {
    padding-bottom: 0;
}

.gd-foot {
    text-align: center;
}

.folio-date {
    justify-content: center;
}

.portfolio-img {
    width: 100%;
}

.secondary-port-img {
    margin-top: 8px;
    margin-bottom: 8px;
    width: 100%;
}